<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Sayfa Bulunamadı</title>
    <style>
    

        body {
            font-family: Arial, sans-serif;
            display: flex;
            margin: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
        h1 {
            font-size: 72px;
            margin-bottom: 10px;
        }
        p {
            font-size: 24px;
            margin-bottom: 20px;
        }
        input[type="submit"], button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        button {
            background-color: #2196F3;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>Üzgünüz, aradığınız sayfa bulunamadı.</p>
        <button onclick="goHome()">Ana Sayfaya Git</button>
        <button onclick="goBack()">Geri Dön</button>
        
    </div>

    <script>
        function goBack() {
            window.history.back();
        }

        function goHome() {
            window.location.href = '/';
        }
    </script>
</body>