<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Yasaklandın!</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            background: linear-gradient(135deg, #f45c43, #eb3349);
            color: #fff;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
        }
        .container {
            max-width: 600px;
            padding: 20px;
            text-align: center;
        }
        h1 {
            font-size: 80px;
            margin: 0;
            animation: glow 1s ease-in-out infinite alternate;
        }
      
        p {
            font-size: 20px;
            margin: 20px 0;
        }
        a {
            text-decoration: none;
            color: #fff;
            border: 2px solid #fff;
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 5px;
            transition: background 0.3s, color 0.3s;
        }
        a:hover {
            background: #fff;
            color: #eb3349;
        }
        
        
    </style>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>BANNED!</p>
        <a href="/">Come to Homepage</a>
        
    </div>
</body>
</html>
