<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Kayıt</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        form {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="email"], input[type="password"]{
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
        input[type="submit"], button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        button {
            background-color: #2196F3;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h1>Kullanıcı Kayıt Formu</h1>
<form  id="registrationForm">
    <label for="name">Ad:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    
    <input type="submit" value="Kayıt Ol">
</form>

<button id="viewLoginPage">Eve geri dön</button>

<button id="viewUsers">Kayıtlı Kullanıcıları Gör</button>


<script>
    document.addEventListener("DOMContentLoaded",
        fetch("/users").then(response => response.json()).then(users => {
            const userTableBody = document.getElementById('userTableBody');
            users.forEach(user => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${user.name}</td>
                    <td>${user.email}</td>
                `;
                userTableBody.appendChild(tr);
            });
        }).catch(error => "Hata oluştu!")
    )

    document.getElementById('registrationForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const users = JSON.parse(localStorage.getItem('users')) || [];
        users.push({ name, email, password });
        localStorage.setItem('users', JSON.stringify(users));

        window.location.href = '/login';
    });

    document.getElementById('viewLoginPage').addEventListener('click', function() {
        window.location.href = '/';
    });
    
    document.getElementById('viewUsers').addEventListener('click', function() {
        window.location.href = '/users';
    });
</script>

</body>
</html>
