<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıtlı Kullanıcılar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table,
        th,
        td {
            border: 1px solid #ddd;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        button {
            padding: 10px 20px;
            background-color: #2196F3;
            color: white;
            border: none;
            cursor: pointer;
            margin-top: 10px;
        }
        a {
            text-decoration: none;
            color:black;
        }
        a:hover {
            text-decoration: underline;
            color:blue;
        }
    </style>
</head>

<body>

    <h1>Kayıtlı Kullanıcılar</h1>
    <table>
        <thead>
            <tr>
                <th>Ad</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="userTableBody">
            <% users.forEach(function(user) { %>
                <tr>
                    <td><a href="/@<%= user.username %>"><%= user.username %></a></td>
                    <td><%= user.email %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <button id="viewHomePage">Ana sayfaya geri dön</button>

    <script>
        document.getElementById('viewHomePage').addEventListener('click', function () {
            window.location.href = '/';
        });
    </script>

</body>

</html>
